:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* 
,*::before
,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Karla;
    font-weight: 400;
    background-color: var(--light-gray);
    color: var(--grayish-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

main {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    margin: 3rem 0;
}

section {
    padding: 2rem 1.5rem;
    width: 100%;
}
.section-top {
    background-color: white;
}
.section2 {
    color: var(--light-gray);
}
.section-left {
    background-color: var(--cyan);
}

.section-right {
    background-color: var(--cyan);
    filter: opacity(75%);
    line-height: 1.3rem;
}

.section-top h2 {
    color: var(--cyan);
}
.section-top h2+p {
    color: var(--bright-yellow);
    font-weight: 700;
}
.section-top  p
,.section-left p
,.section-right p:first-of-type {
    margin-top: 1rem;
}

.section-right p {
    font-size: .9rem;
}

p.price {
    display: flex;
    align-items:center;
    gap: .5rem;
}
p.price span:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
p.price span:nth-child(2) {
    font-size: .7rem;
    filter: opacity(70%);
}

h2 {
    color: white;
    font-size: 1.3rem;
}


button {
    background-color: var(--bright-yellow);
    color: white;
    width: 90%;
    display: block;
    margin: 2rem auto 0 auto;
    border: none;
    border-radius: 4px;
    padding: 1.2em 1em;
    box-shadow: 5px 5px 15px gray;
    font-weight: 700;
    letter-spacing: 2px;
}


@media screen and (min-width:1440px) {
    main {
        max-width: 650px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    section {
        width: auto;
    }
    .section-top {
        width: 100%;
    }
    .section-left {
        width: 50%;
    }
    .section-right {
        width: 50%;
    }
    button:hover {
        background-color: white;
        color: var(--bright-yellow);
        cursor: pointer;
        transition: .5s;
    }
}